# Dependencies
node_modules/
.pnp
.pnp.js

# Environment
.env
.env.local
.env.*.local

# Build & Dist
dist/
build/
.next/
out/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*.iml

# Testing
coverage/
.nyc_output/

# Cache
.cache/
.eslintcache
.vercel
